*{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: 'Khula';
}

body{
    min-height: 100vh;
    background-image: linear-gradient(rgba(154,84,160,0.5), rgba(255, 168, 0, 0.5)), url(./media/background-1.jpg);
    background-size: cover;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
}

:root{
    --main-color: rgb(154,84,160);
    --second-color: rgb(255, 168, 0);
    --element-padding: 1rem 2rem;
    --element-marging: 1rem;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error{
    display: none;
}

.error-display{
    font-size: 1rem;
    color: red;
    width: 22rem ;  
    text-align: center;
    line-height: 1.1rem;
    display: block;
}

#correctMessage{
    display: none;
}

#errorMessage{
    display: none;
}

.container button{
    padding: var(--element-padding);
    padding: 1rem 0;
    font-size: 1.5rem;
    width: 20rem;
    height: auto;
    border-radius: 2rem;
    cursor: pointer;
    border: 0;
    box-shadow: 0 1px 2px rgba(40,40, 40, 0.5);
    justify-content: center;
 }

 .container button:hover {
    color: white;
    background: var(--main-color);
 }

.container img{
    margin: 5rem;
    width: 20rem;
}

/* .container button img{
    width: 1.5rem;
    margin: 0;
    margin-right: var(--element-marging);
} */

/* Formato secondView*/

.secondView {
    background: white;
    border-radius: 20px;
    margin: 15rem 0;
    width: auto;
    height: auto;
    padding: 6rem 3rem;
    box-shadow: 0 1px 2px rgba(40,40, 40, 0.5);
}

.secondView input {
    background: rgb(235, 235, 235);
    padding: 1rem 0;
    font-size: 1.5rem;
    width: 23rem;
    height: auto;
    border-radius: 2rem;
    border: 0;
    box-shadow: 0 1px 2px rgba(40,40, 40, 0.5);
    text-align: center;
    margin-bottom: 1.5rem;
}

.secondView button {
    background: var(--main-color);
    color: white;
    margin-top: 1.5rem;
}

.secondView button:hover {
    background: var(--second-color);
}

label{
    font-size: 1.5rem;
}

h2{
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

footer{
    padding: var(--element-padding);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0rem;
    width: 100%;
}

footer p{
    font-size: 1.2rem;
    color: #282828;
}